
body {
    margin: 0;
    padding: 0;
    background-image: url('./assets/back2.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

h1 {
    margin: 0;
    padding: 0;
    font-family: "Poppins", serif;
    font-size: 200%;
    font-weight: 700;
}

#input-container {
    display: flex;
    flex-direction: row;
}

#new-input {
    padding: 0.5rem;
    font-size: 0.75rem;
    flex: 1;
    border-top: 2px solid orange;
    border-bottom: 2px solid orange;
    border-right: 2px solid orange;
    border-left: none;
    outline: none;
    font-family: "Poppins", serif;
}

#add-new-input {
    padding: 0.5rem;
    font-size: 0.75rem;
    outline: none;
    font-family: "Poppins", serif;
    border-top: 2px solid orange;
    border-bottom: 2px solid orange;
}

#add-new-button {
    border: none;
    border-top: 2px solid orange;
    border-bottom: 2px solid orange;
    color: white;
    transition: 0.5s;
    cursor: pointer;
    background-color: orange;
    padding: .5rem 0;
}

#add-new-button:hover {
    color: orange;
    background-color: white;
}

#new-button {
    flex: 0.25;
    border: none;
    border-top: 2px solid orange;
    border-bottom: 2px solid orange;
    border-left: none;
    background-color: orange;
    color: white;
    transition: 0.5s;
    cursor: pointer;
}

#new-button:hover {
    color: orange;
    background-color: white;
}

#main-list {
    list-style: none;
    text-align: left;
    display: flex;
    flex-direction: column;
    margin: 1rem 0 0 0;
    padding: 0;
}

.each-todo {
    background-color: rgba(255, 255, 255, 0.6);
    gap: 10px;
    padding: 0 0 0 1rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    border-bottom: 1px solid gray;
}

.dlt-btn-span {
    flex: 0.15;
}

.dlt-btn {
    padding: 1rem;
    color: white;
    background-color: red;
    border: none;
    transition: 0.5s;
    cursor: pointer;
}

.dlt-btn:hover {
    color: red;
    background-color: white;
}

.title-size {
    font-size: 1.5rem;
    flex: 0.3;
}

.title-desc {
    font-size: 0.75rem;
    color: gray;
    flex: 0.55;
}



